<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة تحكم المدير</title>
   <link rel="stylesheet" href="{{ request.url_for('static', path='Admin_Dashboard.css') }}">

</head>
<body>
    <nav>
        <h2><i class="fas fa-user-shield"></i> لوحة تحكم المدير</h2>
        <ul>
             <li><a href="/STU/log_out"> تسجيل خروج</a></li>
            <li><a href="/ADM/reports"> التقارير</a></li>
             <li><a href="/ADM/manage_courses_sections"> المواد والشعب</a></li>
           <li><a href="/ADM/manage_students"> إدارة الطلاب</a></li>
            <li><a href="/ADM/Registration_time"> وقت التسجيل</a></li>
            <li><a href="/ADM/Admin_Dashboard"> الرئيسية</a></li>

        </ul>
    </nav>

    <div class="dashboard-container">
        <h3><i class="fas fa-home"></i> مرحبًا بك، المدير!</h3>
        <p>يمكنك إدارة الطلاب، المواد، الشعب، وعرض التقارير من القائمة الجانبية.</p>
    </div>
</body>
</html>
