<!DOCTYPE html>
<html lang="ar" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>لوحة التحكم</title>

<link rel="stylesheet" href="{{ request.url_for('static', path='admin.css') }}">

</head>

<body>

<nav>
<h2> لوحة تحكم المدير</h2>

<ul>
<li><a href="/STU/log_out">تسجيل خروج</a></li>
<li><a href="/ADM/reports">التقارير</a></li>
<li><a href="/ADM/manage_courses_sections">المواد والشعب</a></li>
<li><a href="/ADM/manage_students">إدارة الطلاب</a></li>
<li><a href="/ADM/Admin_Dashboard">الرئيسية</a></li>
<li><a href="/ADM/Registration_time">وقت التسجيل</a></li>
</ul>
</nav>

<!-- =============================== -->
<!-- جدول التسجيل -->
<!-- =============================== -->

<h2>تسجيل المواد</h2>

<button class="add" onclick="openModal('addTimeModal')">
➕ إضافة تسجيل
</button>
<form action="" method="post">
<table border="1">

<thead>
<tr>
<th>الإجراءات</th>
<th>التخصص</th>
<th>نهاية التسجيل النهائي</th>
<th>بداية التسجيل النهائي</th>
<th>نهاية التسجيل البديل الأول</th>
<th>بداية التسجيل البديل الأول</th>
<th>نهاية التسجيل الأول</th>
<th>بداية التسجيل الأول</th>
</tr>
</thead>

<input type="hidden" name="action" value="delete_time">
<tbody>
{%for reg in registration%}
<tr>

<td>
<button class="edit" onclick="openModal('updateTimeModal')" type="button">
تعديل
</button>

<button class="delete"
type="submit"
name="delete"
value="{{ reg[0] }}"
>
حذف
</button>

</td>

<td>{{reg[9]}}</td>
<td>{{reg[6]}}</td>
<td>{{reg[5]}}</td>
<td>{{reg[4]}}</td>
<td>{{reg[3]}}</td>
<td>{{reg[2]}}</td>
<td>{{reg[1]}}</td>

</tr>
{%endfor%}
</tbody>

</table>
</form>
<!-- =============================== -->
<!-- جدول التخصصات -->
<!-- =============================== -->

<h2>التخصصات</h2>


<!-- زر إضافة تخصص -->
<button class="add"
onclick="openModal('addMajorModal')"
type="button">
➕ إضافة تخصص
</button>

<!-- فورم الحذف -->
<form action="/ADM/Registration_time" method="post">

<input type="hidden" name="action" value="delete_major">

<table border="1">

<thead>
<tr>
<th>الإجراءات</th>
<th>اسم التخصص</th>
<th>رقم التخصص</th>
</tr>
</thead>

<tbody>

{% for major in majors %}
<tr>

<td>
<button class="delete"
type="submit"
name="delete"
value="{{ major[0] }}">
حذف
</button>
</td>

<td>{{ major[1] }}</td>
<td>{{ major[0] }}</td>

</tr>
{% endfor %}

</tbody>

</table>

</form>
<!-- =============================== -->
<!-- مودال التسجيل -->
<!-- =============================== -->

<div class="modal" id="addTimeModal">

<div class="modal-content">

<h3>إضافة وقت التسجيل</h3>

<form action="/ADM/Registration_time" method="POST">

<input name="action" value="add_time" type="hidden">
<label>التخصص</label>
<select name="major" required>
{%for major in majors %}
<option value="{{major[0]}}">{{major[1]}}</option>
{% endfor %}
</select>
<label>البدايه1</label>
<input name="start1" type="datetime-local" required>
<label>النهايه 1</label>
<input name="end1" type="datetime-local" required>
<label>البدايه2</label>
<input name="start2" type="datetime-local" required>
<label>النهايه 2</label>
<input name="end2" type="datetime-local" required>
<label>البدايه3</label>
<input name="startFinal" type="datetime-local" required>
<label>النهايه 3</label>
<input name="endFinal" type="datetime-local" required>
<br><br>

<button type="submit" class="add">حفظ</button>
<button type="button" class="delete" onclick="closeModal('addTimeModal')">
إغلاق
</button>

</form>

</div>
</div>

<!-- =============================== -->
<!-- مودال التخصص -->
<!-- =============================== -->

<div class="modal" id="addMajorModal">

<div class="modal-content">

<h3>إضافة تخصص</h3>

<form action="/ADM/Registration_time" method="post">

<input name="action" value="add_major" type="hidden">

<input name="major_name" type="text" placeholder="اسم التخصص" required>

<br><br>

<button type="submit" class="add">حفظ</button>

<button type="button" class="delete" onclick="closeModal('addMajorModal')">
إغلاق
</button>

</form>

</div>
</div>

<div class="modal" id="updateTimeModal">

<div class="modal-content">

<h3>تعديل وقت التسجيل</h3>

<form action="/ADM/Registration_time" method="POST">

<input name="action" value="update_time" type="hidden">
<label>التخصص </label>
<select name="major" required>
{%for major in majors %}
<option value="{{major[0]}}">{{major[1]}}</option>
{% endfor %}
</select>

{%for reg in registration%}
<input name="registration_id" type="hidden" value="{{reg[0]}}" required>
<label>البدايه1</label>
<input name="start1" type="datetime-local" value="{{reg[1]}}" required>
<label>النهايه 1</label>
<input name="end1" type="datetime-local" value="{{reg[2]}}" required>
<label>البدايه 2</label>
<input name="start2" type="datetime-local" value="{{reg[3]}}" required>
<label>النهايه2</label>
<input name="end2" type="datetime-local" value="{{reg[4]}}" required>
<label>البدايه 3</label>
<input name="startFinal" type="datetime-local" value="{{reg[5]}}" required>
 <label>النهايه 3</label>
<input name="endFinal" type="datetime-local" value="{{reg[6]}}" required>

<br><br>

<button type="submit" class="add">حفظ</button>
<button type="button" class="delete" onclick="closeModal('updateTimeModal')">
إغلاق
</button>


</form>
{%endfor%}
</div>
</div>

<!-- =============================== -->
<!-- JavaScript -->
<!-- =============================== -->

<script>

function openModal(id){
document.getElementById(id).style.display="block";
}

function closeModal(id){
document.getElementById(id).style.display="none";
}

</script>

</body>
</html>