<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>المواد المتاحة</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='coursesAvailable.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<!-- Navbar -->
<nav>
    <h2><i class="fas fa-school"></i> نظام تسجيل الطلاب</h2>
    <ul>
        <li><a href="/STU/log_out"><i class="fas fa-sign-out-alt"></i> تسجيل خروج</a></li>
        <li><a href="/STU/schedule"><i class="fas fa-calendar-alt"></i> جدولي</a></li>
        <li><a href="/STU/courses" ><i class="fas fa-book"></i> تسجيل الموادة</a></li>
        <li><a href="/STU/coursesAvailable" ><i class="fas fa-book"></i> المواد المتاحة</a></li>
        <li><a href="/STU/dashboard"><i class="fas fa-home"></i> الرئيسية</a></li>
    </ul>
</nav>

<!-- Container -->
<div class="container">

    <h3><i class="fas fa-book-open"></i> المواد المتاحة للتسجيل</h3>




    <!-- Table -->
    <table>
        <thead>
            <tr>
                <th>عدد المقاعد</th>
                <th>الشعبة</th>
                <th>المدرس</th>
                <th>اليوم</th>
                <th colspan="2">الوقت</th>
                <th>الساعات</th>
                <th>رمز المادة</th>
                 <th>اسم المادة</th>

            </tr>
        </thead>

        <tbody>

           {%for course in courses%}
            <tr>
                <td>{{course[10]}}</td>
                <td>{{course[4]}}</td>
                <td>{{course[6]}}</td>
                <td>{{course[8]}}</td>
                 <td>{{course[9]}}</td>
                <td>{{course[7]}}</td>
                <td>{{course[2]}}</td>
                <td>{{course[3]}}</td>
                <td>{{course[0]}}</td>


            </tr>
           {%endfor%}


        </tbody>

    </table>


</div>


</body>
</html>
