<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لوحة الطالب</title>
  <link rel="stylesheet" href="/static/style1.css">

</head>
<body>
    <nav>
        <h2>نظام تسجيل الطلاب</h2>
        <ul>
            <li><a href="/STU/dashboard">الرئيسية</a></li>
            <li><a href="/STU/courses">تسجيل المواد </a></li>
            <li><a href="/STU/schedule">جدولي</a></li>
            <li><a href="#">تسجيل خروج</a></li>
        </ul>
    </nav>

    <div class="dashboard">
        <h3>مرحبًا بك يا طالب!</h3>
        <p>يمكنك الآن تسجيل المواد وعرض جدولك الدراسي.</p>
        <div class="stats">
            <div class="card">
                <h4>عدد المواد المسجلة</h4>

                <p>{{numbers[0]}}</p>
            </div>
            <div class="card">
                <h4>عدد الساعات</h4>
                <p>{{numberstime[0]}}</p>
            </div>
        </div>
    </div>
</body>
</html>
