<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نسيت كلمة السر</title>
    <!-- ربط ملف CSS الخارجي -->
   <link rel="stylesheet" href="{{ request.url_for('static', path='forgotPassword.css') }}">
</head>
<body>
    <div class="container">
        <h2>نسيت كلمة السر</h2>
        <p>أدخل بريدك الإلكتروني وسنرسل لك رابط إعادة تعيين كلمة السر.</p>
        <form action="/reset-password" method="POST">
            <input type="email" name="email" placeholder="البريد الإلكتروني" required>
            <button type="submit">إرسال الرابط</button>
        </form>
        <div class="back-login">
            <a href="/Auth/login">العودة إلى تسجيل الدخول</a>
        </div>
    </div>
</body>
</html>
