<!DOCTYPE html>
<html lang="ar">
<head>
<meta charset="UTF-8">
<title>إدارة المواد والشعب</title>
 <link rel="stylesheet" href="{{ request.url_for('static', path='manage.css') }}">
</head>

<body>
<!-- ===== Top Navbar ===== -->
<div class="topbar">
    <div class="topbar-menu">
        <a href="/ADM/Admin_Dashboard">الرئيسية</a>
         <a href="/ADM/Registration_time">وقت التسجيل</a>
        <a href="/ADM/manage_students">إدارة الطلاب</a>
        <a href="/ADM/manage_courses_sections">المواد والشعب</a>
        <a href="/ADM/reports">التقارير</a>
        <a href="/STU/log_out">تسجيل خروج</a>
    </div>
    <div class="topbar-title">🎓 لوحة تحكم المدير</div>


</div>


<h2>إدارة المواد</h2>

<a href="#addCourse" class="btn add">إضافة مادة</a>

<table>

<tr>
<th>رقم المادة</th>
<th>رمز المادة</th>
<th>اسم المادة</th>
<th>الساعات</th>
<th> التخصص</th>
<th>إجراءات</th>
</tr>
{%for course in subject%}
<tr>
<td>{{course[0]}}</td>
<td>{{course[3]}}</td>
<td>{{course[2]}}</td>
<td>{{course[1]}}</td>
<td>{{course[4]}}</td>
<td>
<a href="#editCourse{{course[0]}}" class="btn edit">تعديل</a>

 <a href="#deleteCourse{{course[0]}}" class="btn delete">حذف</a>
</td>
</tr>

 {%endfor%}

</table>
{%if messages%}
{{messages}}
{%endif%}


<h2>إدارة الشعب</h2>

<a href="#addSection" class="btn add">إضافة شعبة</a>

<table>

<tr>
<th>رقم</th>
<th>رقم المادة</th>
<th>الشعبه</th>
<th>القاعة</th>
<th colspan="2">الوقت</th>
<th>الايام </th>
<th>المدرس</th>
 <th>عدد المقاعد</th>
<th>إجراءات</th>
</tr>

{%for sections in  section %}
<tr>
<td>{{sections[0]}}</td>
<td>{{sections[1]}}</td>
<td>{{sections[8]}}</td>
<td>{{sections[3]}}</td>
<td>{{sections[4]}}</td>
    <td>{{sections[6]}}</td>
<td>{{sections[5]}}</td>

<td>{{sections[2]}}</td>
    <td>{{sections[7]}}</td>
<td>
<a href="#editSection{{sections[0]}}" class="btn edit">تعديل</a>

<a href="#deleteSection{{sections[0]}}" class="btn delete">حذف</a>

</td>

</tr>
{%endfor%}





</table>


<!-- ================= إضافة مادة ================= -->

<div id="addCourse" class="modal">
<div class="box">
<h3>إضافة مادة</h3>

<form method="post" action="">
<input type="hidden" name="action" value="addCourse">
<input name="subject_code" placeholder="رمز المادة">
<input name="subject_name" placeholder="اسم المادة">
<input type="number" name="hours" placeholder="الساعات">
<select  name="majors_code" style="width: 400px;margin-bottom: 10px;height: 30px" required>
                <option value="">اختر التخصص</option>
              {%for major in majors %}
                <option value="{{major[1]}}">{{major[1]}}</option>
                {%endfor%}
            </select>

<button class="btn save">حفظ</button>
<a href="#" class="btn cancel">إلغاء</a>
</form>

</div>
</div>


<!-- ================= تعديل مادة ================= -->

{% for course in subject %}
<div id="editCourse{{course[0]}}" class="modal">
<div class="box">
<h3>تعديل مادة</h3>

<form method="post" action="/ADM/manage_courses_sections">
<input type="hidden" name="action" value="updateCourse">
<input type="hidden" name="update_id" value="{{course[0]}}">

<input name="update_code" value="{{course[3]}}">
<input name="update_name" value="{{course[2]}}">
<input  type="number" name="update_hours" value="{{course[1]}}">


    <select  name="update_majors" style="width: 440px;margin-bottom: 10px;height: 30px" required>
                <option value="{{course[4]}}">{{course[4]}}</option>
              {%for major in majors %}
                <option value="{{major[1]}}">{{major[1]}}</option>
                {%endfor%}
            </select>

<button class="btn save">حفظ</button>
<a href="#" class="btn cancel">إلغاء</a>

</form>
</div>
</div>
{% endfor %}

<!-- ================= إضافة شعبة ================= -->

<div id="addSection" class="modal">
<div class="box">
<h3>إضافة شعبة</h3>

<form method="post" action="">
 <input type="hidden" name="action" value="addSection" >
<input   type="number" name="course" placeholder="رقم المادة">
<input name="room" placeholder="القاعة">
<input type="time" name="from_time" placeholder="الوقت البدايه">
    <input type="time" name="to_time" placeholder=" الوقت نهايه">
 <input name="time_today" placeholder="الايام">
  <input type="number" name="division" placeholder="الشعبه">
   <select  name="teacher" style="width: 400px;margin-bottom: 10px;height: 30px" required>
                <option value="">اخترالمعلم</option>
              {%for teacher in teachers %}
                <option value="{{teacher[0]}}">{{teacher[1]}}</option>
                {%endfor%}
            </select>

<input  type="number" name="number_seat" placeholder="عدد المقاعد ">


<button class="btn save">حفظ</button>
<a href="#" class="btn cancel">إلغاء</a>
</form>

</div>
</div>


<!-- ================= تعديل شعبة ================= -->

{% for sections in section %}
<div id="editSection{{sections[0]}}" class="modal">
  <div class="box">
    <h3>تعديل شعبة</h3>

    <form method="post" action="">
      <input type="hidden" name="action" value="updateSection">
      <input  type="hidden" name="update_id" value="{{sections[0]}}">

      <input type="number" name="number_subject" value="{{sections[1]}}" placeholder="رقم المادة">

        <select  name="update_teacher" style="width: 400px;margin-bottom: 10px;height: 30px" required>
                <option value="{{sections[9]}}">{{sections[2]}}</option>
              {%for teacher in teachers %}
                <option value="{{teacher[0]}}">{{teacher[1]}}</option>
                {%endfor%}
            </select>
      <input name="update_room" value="{{sections[3]}}" placeholder="القاعة">
        <input type="number" name="division" value="{{sections[8]}}" placeholder="الشعبه">
      <input  type="time" name="update_from_time" value="{{sections[4]}}" placeholder=" البدايه الوقت">
          <input  type="time" name="update_to_time" value="{{sections[6]}}" placeholder="نهايه الوقت">
      <input name="update_today" value="{{sections[5]}}" placeholder="الأيام">
       <input  type="number" name="number_seat" value="{{sections[7]}}" placeholder="عدد المقاعد ">
      <button class="btn save">حفظ</button>
      <a href="#" class="btn cancel">إلغاء</a>
    </form>

  </div>
</div>
{% endfor %}

{% for course in subject %}
<div id="deleteCourse{{course[0]}}" class="modal">
  <div class="box">
    <h3>تأكيد الحذف</h3>
    <p>هل أنت متأكد من حذف المادة؟</p>

    <form method="post" action="/ADM/manage_courses_sections">
        <input type="hidden" name="action" value="deleteCourse">
        <input type="hidden" name="course_id" value="{{course[0]}}">
        <button class="btn delete">نعم احذف</button>
    </form>

    <a href="#" class="btn cancel">إلغاء</a>
  </div>
</div>
{% endfor %}
 {% for sections in section %}
<div id="deleteSection{{sections[0]}}" class="modal">
  <div class="box">
    <h3>تأكيد حذف الشعبة</h3>

    <form method="post" action="/ADM/manage_courses_sections">
         <input type="hidden" name="action" value="deleteSection">
        <input type="hidden" name="sections_id" value="{{sections[0]}}">
        <button class="btn delete">تأكيد الحذف</button>
    </form>

    <a href="#" class="btn cancel">إلغاء</a>
  </div>
</div>
{% endfor %}



</body>
</html>
