<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <title>إعادة تعيين كلمة السر</title>
  <!-- ربط ملف CSS خارجي -->
    <link rel="stylesheet" href="{{ request.url_for('static', path='resetPassword.css') }}">
</head>
<body>
  <div class="reset-container">
    <h2>إعادة تعيين كلمة السر</h2>
    <form method="POST">
      <input type="password" name="new_password" placeholder="أدخل كلمة السر الجديدة" required>
      <button type="submit">تغيير كلمة السر</button>
    </form>
    {% if message %}
      <div class="message">{{ message }}</div>
    {% endif %}
  </div>
</body>
</html>
