<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
<meta charset="UTF-8">
<title>المواد الدراسية</title>

<link rel="stylesheet"
href="{{ request.url_for('static', path='teacherCourses.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<div class="container">

<h2 class="page-title">
<i class="fa fa-book"></i>
المواد التي أدرسها
</h2>
{%for i in num_subject%}
<div class="courses-grid">

<!-- Course Card -->
<div class="course-card">

<h3>{{i[0]}}</h3>
<p><strong>عدد الطلاب:</strong> {{i[2]}}</p>
<p><strong>عدد الشعب:</strong>{{i[1]}}</p>

</div>
{% endfor %}






</div>

</div>

</body>
</html>